@use "src/colors" as colors;

#search-helpers {
	display: flex;
	margin-top: 16px;

	> .button {
		&:not(:first-child) {
			border-left: 1px solid colors.$primary;
		}
	}

	@media screen and (max-width: 575px) {
		> .button {
			font-size: 14px;
		}
	}
}
