@use "src/colors" as colors;

#lists {
	display: flex;
	flex-direction: column;

	.search {
		height: 240px;

		.main {
			flex-direction: column;
			gap: 16px;

			.length {
				display: flex;
				gap: 32px;
			}

			.actions {
				align-self: center;
				display: flex;
				gap: 8px;
			}
		}
	}

	.result {
		height: calc(100% - 240px);

		.words-list {
			height: 100%;
		}
	}

	@media screen and (max-width: 767px) {
		.search {
			height: 320px;

			.main {
				align-items: stretch;
			}
		}

		.result {
			height: calc(100% - 320px);
		}
	}

	@media screen and (max-width: 575px) {
		.search {
			height: 360px;
		}

		.result {
			height: calc(100% - 360px);
		}
	}
}
