@use "src/colors" as colors;

.search-form {
	height: 100%;

	.search {
		position: relative;
		flex: 0 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		padding: 0 32px;
		background-color: colors.$primary;

		.main {
			display: flex;
		}

		> .icon-button {
			display: none;
		}
	}

	.result {
		box-sizing: border-box;

		.words-list {
			padding: 0 0 140px;
		}
	}

	@media screen and (max-width: 767px) {
		.search {
			> .icon-button {
				display: flex;
				position: absolute;
				bottom: 10px;
				right: 16px;
				width: 24px;
				height: 24px;
				padding: 8px 4px 0;
				filter: invert(1);
			}
		}

		&:not(.visible-mobile) {
			.search {
				height: 40px !important;

				.main {
					display: none;
				}

				> .icon-button {
					bottom: 8px;
					padding-top: 0px;
					padding-bottom: 8px;
				}
			}

			.result {
				height: calc(100% - 40px) !important;
			}
		}
	}

	@media screen and (max-width: 575px) {
		.search {
			padding: 0 16px;
		}
	}
}
