.button-select {
	display: flex;
	flex-direction: column;

	.label {
		margin-bottom: 4px;
		color: #ffffff;
		font-weight: bold;
	}

	.options {
		display: flex;

		.button {
			&:not(:first-child) {
				border-left: 1px solid rgba(#2f2f2f, 0.2);
			}
		}
	}

	&.letters {
		.options {
			flex-wrap: wrap;
			gap: 8px;

			.button {
				width: 32px;
				padding: 0;
			}
		}
	}
}
