.button {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	height: 32px;
	padding: 0 16px;
	font-size: 16px;

	&:hover {
		opacity: 0.8;
	}

	&:disabled {
		background-color: #9f9f9f;
		color: #5f5f5f;
		cursor: default;
		pointer-events: none;
	}

	&.selected {
		background-color: #2f2f2f;
		color: #ffffff;
	}
}
