.word-item {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 48px;
	padding: 0 16px 0 8px;
	border-top: 1px solid #dfdfdf;

	:last-child > & {
		border-bottom: 1px solid #dfdfdf;
	}

	.length {
		width: 24px;
		font-size: 16px;
		color: #afafaf;
		text-align: right;
	}

	.word {
		margin: 0 8px;
		padding-bottom: 2px;
		font-size: 20px;
		font-weight: bold;
	}

	.caret-icon {
		position: absolute;
		top: calc(50% - 6px);
		right: 16px;
		width: 12px;
		height: 12px;
		opacity: 0.6;
	}

	&:hover {
		background-color: #2f2f2f;

		.word {
			color: #ffffff;
		}

		.caret-icon {
			filter: invert(1);
		}
	}

	@media screen and (max-width: 575px) {
		height: 42px;
		padding: 0 12px 0 0;

		.length {
			font-size: 12px;
		}

		.word {
			padding-bottom: 0;
			font-size: 16px;
		}

		.caret-icon {
			top: calc(50% - 5px);
			right: 12px;
			width: 10px;
			height: 10px;
		}
	}
}
