#word {
	display: flex;
	flex-direction: column;
	padding-bottom: 32px;
	overflow-y: auto;

	h1 {
		margin: 24px 0;
		text-align: center;
	}

	.word-values {
		align-self: center;
	}

	.neighbors {
		display: flex;
		flex-wrap: wrap;
		margin-top: 16px;
		padding: 0 8px;

		> * {
			display: flex;
			flex-direction: column;
			align-items: center;
			box-sizing: border-box;
			width: calc(100% / 2 - 16px);
			margin: 8px;
			padding: 8px;

			h2 {
				display: flex;
				align-items: center;
				margin-bottom: 8px;

				.icon-button {
					width: 12px;
					height: 12px;
					margin-left: 12px;
					opacity: 0.4;
					transform: translateY(2px);
				}
			}

			ul {
				padding: 0;
				list-style-type: none;

				li {
					text-align: center;

					em {
						font-style: inherit;
						font-weight: bold;
					}
				}
			}

			.item {
				display: flex;
				align-items: center;

				.icon {
					width: 16px;
					height: 16px;
					margin-left: 6px;
				}
			}

			.none {
				font-style: italic;
			}
		}

		.prefixes {
			background-color: #eeeeff;

			ul {
				li {
					em {
						color: #0000af;
					}
				}
			}
		}

		.suffixes {
			background-color: #eeffee;

			ul {
				li {
					em {
						color: #00af00;
					}
				}
			}
		}

		.anagrams {
			flex: 1;
			width: auto;
			background-color: #f4f4f4;
		}
	}

	.links {
		align-self: center;
		display: flex;
		margin-top: 16px;

		> * {
			margin: 0 6px;
		}
	}

	@media screen and (max-width: 767px) {
		h1 {
			font-size: 24px;
		}

		.neighbors {
			> * {
				h2 {
					font-size: 20px;
				}
			}
		}
	}

	@media screen and (max-width: 575px) {
		.neighbors {
			flex-direction: column;

			> * {
				width: auto;
			}
		}
	}
}
