#dictionary {
	display: flex;
	flex-direction: column;
	height: 100%;

	.search {
		flex: 0 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		height: 64px;
		padding: 0 12px;
		background-color: #4f3f6f;

		> * {
			margin: 0 4px;
		}
	}

	.result {
		box-sizing: border-box;
		height: calc(100% - 64px);

		.count {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 8px 0;
		}

		.lazy-list {
			height: 100%;
			padding: 0 0 16px;
		}
	}

	@media screen and (max-width: 575px) {
		.search {
			align-content: center;
			height: 112px;

			> * {
				margin: 8px 4px;
			}
		}

		.result {
			height: calc(100% - 112px);
		}
	}
}
