#dictionary {
	display: flex;
	flex-direction: column;
	height: 100%;

	.search {
		flex: 0 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 160px;
		padding: 0 12px;
		background-color: #4f3f6f;

		.main {
			display: flex;
			justify-content: center;
			align-items: center;

			> * {
				margin: 0 4px;
			}
		}
	}

	.result {
		box-sizing: border-box;
		height: calc(100% - 160px);

		.count {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 8px 0;
		}

		.lazy-list {
			height: 100%;
			padding: 0 0 80px;
		}
	}

	@media screen and (max-width: 575px) {
		.search {
			padding: 0;

			.main {
				.text-input {
					width: 180px;
				}
			}
		}
	}
}
