@use "src/colors" as colors;

#dictionary {
	display: flex;
	flex-direction: column;

	.search {
		height: 160px;

		.main {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 16px;

			.input {
				display: flex;

				.text-input {
					width: 240px;
				}
			}
		}
	}

	.result {
		height: calc(100% - 160px);

		.words-list {
			height: 100%;
		}
	}

	@media screen and (max-width: 575px) {
		.search {
			height: 144px;
			padding: 0 0 32px;

			.main {
				.text-input {
					width: 232px;
				}
			}
		}

		.result {
			height: calc(100% - 144px);
		}
	}
}
