:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	height: 100vh;
	overflow: hidden;
}

a,
.link {
	display: flex;
	justify-content: center;
	align-items: center;
	color: inherit;
	text-decoration: inherit;

	&:not(.raw) {
		height: 32px;
		padding: 0 16px;
		background-color: #efefef;
		border-radius: 16px;
		color: #000000;

		&:hover {
			background-color: #0f0f0f;
			color: #ffffff;
			opacity: 0.8;
		}
	}
}

button {
	background-color: #efefef;
	border: none;
	font-family: inherit;
	line-height: inherit;
	cursor: pointer;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1 {
	font-size: 42px;
	line-height: 1.1;
}
